{{ingUri}} a recipe-kb:ingredientname;
    rdfs:label ?ingLabel ;
    recipe-kb:equivalentFoodOnClass ?foodOnUri ;
    recipe-kb:equivalentUsdaFood ?usdaUri .
{% include 'constructor_usda_nutrition.sparql.j2' %}