{% extends 'construct_query.sparql.j2' %}
{% block construct_triples %}
    {% include 'constructor_ingredient_use.sparql.j2' %}
{% endblock %}
{% block values %}
    {% include 'value_constraint.sparql.j2' %}
{% endblock %}
{% block expressions %}
    {% include 'ingredient_use.sparql.j2' %}
{% endblock %}
