prefix recipe-kb: <http://idea.rpi.edu/heals/kb/>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
prefix food-kg-sub: <http://idea.rpi.edu/heals/ingredient_substitution/>
prefix dbr: <http://dbpedia.org/resource/>
prefix sio: <http://semanticscience.org/resource/>
prefix usda-kb: <http://idea.rpi.edu/heals/kb/usda#>
prefix owl: <http://www.w3.org/2002/07/owl#>
prefix usda-ontology: <http://idea.rpi.edu/heals/kb/usda-ontology#>
prefix food-kg-user: <http://idea.rpi.edu/heals/kb/user/>
prefix food-kg-user-id: <http://idea.rpi.edu/heals/kb/user/user_id/>
prefix diet-restriction: <http://idea.rpi.edu/heals/diet_restriction/>