{% extends 'select_query.sparql.j2' %}

{% block select %}SELECT ?recipeUri ?recipeId{% endblock%}

{% block expressions %}
?recipeUri a recipe-kb:recipe ;
    recipe-kb:recipe1MId ?recipeId .
{% endblock %}